/* Side bar */

.side-bar{
    background-color: black;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    justify-content: space-between;

}

.logo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
}

.logo-name h1{
    color: white;

}

.logo-name img{
    width: 100px;
    margin: 20px 5px 20px 0;
}

.name{
    margin-right: 5px ;
}

.links ul{
    margin-bottom: 47vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid white;
}

.links li{
    
    text-align: center;
    font-size:xx-large;
    border-bottom: 2px solid white;
    padding: 10px;

}

.links a{
    text-decoration: none;
    color: white;
}

.active{
    font-weight: 900;
    background-color: rgb(42, 42, 42);
}
.social-media-links{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.social-media-links img{
    width: 30px;
    margin: 0 5px 0 5px;
}

/* Side bar responsiveness */

.open-side-bar{
    display: none;
}

@media screen and (max-width: 600px){
    .show-hide{
        display: none;
    }
    .side-bar{
        width: 60vw;
    }
    .open-side-bar{
        display: inline;
    }
    
}
