*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

/* Side bar */

.side-bar{
    background-color: black;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    justify-content: space-between;

}

.logo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
}

.logo-name h1{
    color: white;

}

.logo-name img{
    width: 100px;
    margin: 20px 5px 20px 0;
}

.name{
    margin-right: 5px ;
}

.links ul{
    margin-bottom: 47vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid white;
}

.links li{
    
    text-align: center;
    font-size:xx-large;
    border-bottom: 2px solid white;
    padding: 10px;

}

.links a{
    text-decoration: none;
    color: white;
}

.active{
    font-weight: 900;
    background-color: rgb(42, 42, 42);
}
.social-media-links{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.social-media-links img{
    width: 30px;
    margin: 0 5px 0 5px;
}

/* Side bar responsiveness */

.open-side-bar{
    display: none;
}

@media screen and (max-width: 600px){
    .show-hide{
        display: none;
    }
    .side-bar{
        width: 60vw;
    }
    .open-side-bar{
        display: inline;
    }
    
}

/* main page */

.container{
    width: 100%;
}

.navbar{
    background-color: rgb(255, 200, 0);
    border-bottom: 2px solid black;
    width: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.time-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-user img{
    width: 30px;
    border-radius: 100%;
    border: 1px solid black;
    margin-left:5px;
}

.tasks{
    margin: 10px 0 10px 10px;
}
.task-container{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
}

.done-dot {
    height: 25px;
    width: 25px;
    background-color: #00ff08;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }
.pending-dot {
    height: 25px;
    width: 25px;
    background-color: #fff700;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }
.missed-dot {
    height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }