*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

/* main page */

.container{
    width: 100%;
}

.navbar{
    background-color: rgb(255, 200, 0);
    border-bottom: 2px solid black;
    width: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.time-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-user img{
    width: 30px;
    border-radius: 100%;
    border: 1px solid black;
    margin-left:5px;
}

.tasks-bar{
    margin: 10px 0 10px 10px;
}
.task-container{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
}

.done-dot {
    height: 25px;
    width: 25px;
    background-color: #00ff08;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }
.pending-dot {
    height: 25px;
    width: 25px;
    background-color: #fff700;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }
.missed-dot {
    height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }

  
  .v-line{
    border-left: 5px solid black;
    min-height: 82vh;
  }

.tasks{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.single-day{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.task-date{
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 3px;
}

.task-list{
    display: flex;
    flex-direction: row;
}

.task{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
}
.task-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.task-top button{
}

.done{
    border-color: #00ff08;
    color: #00ff08;

}
.pending{
    border-color: #fff700;
    color: #fff700;
}

.missed{
    border-color: #ff0000;
    color: #ff0000;
}

  @media screen and (max-width:600px) {
    
.task-list{
    flex-direction: column;
}
    .task{
        margin-bottom: 5px;
    }
  }

  .form-div{
    width: 25vw;
    margin-left: 10px;
    font-size: large;

  }
  #addTaskForm{
    display: flex;
    flex-direction: column;
  }